<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUFeedURL</key>
	<string>https://github.com/VCBSstudio/ScreenCut/blob/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zd7Bjskp7tfkf7TpxCdcexgCh71tsKvYwecV/Loe16Y=</string>
</dict>
</plist>
