<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/VCBSstudio/ScreenCut/blob/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFc5Dyu3KeSevsWTmR14ZZU1A4cZ6hdHgVihCiE08UX8 2319979647@qq.com</string>
</dict>
</plist>
